.fix-width-125 {
  width: 125px;
}

// ion-badge {
  .badge-md-secondary {
    font-size: 18px !important;
    color: #211818 !important;
  }
  .badge-md-light {
    font-size: 18px !important;
  }
// }

.card-header {
  font-size: 1.8rem;
  font-weight: 500;
}

p.margin-top-10 {
  margin-top: 10px !important;
  font-size: 1.8rem;
  font-weight: 500;
}
