<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{appTitle}} My Trips</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group inset *ngFor="let group of userTrips | async | groupby:'startTime'">
    <ion-item-divider class="divider">{{displayDay(group.name)}}</ion-item-divider>
    <button ion-item *ngFor="let trip of group.trips" (click)="takeToDriverOrPassengerPage(trip)">
      {{ trip.startLocation.name }} To {{ trip.endLocation.name }}
      <ion-badge color="{{tripStatusWithColor(trip).color}}">
        {{tripStatusWithColor(trip).status}}
      </ion-badge>
    </button>
  </ion-item-group>
</ion-content>
