<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{appTitle}} | My Trips</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group inset *ngFor="let group of userTrips | async | groupby:'startTime'">
    <ion-item-divider class="divider">{{group.name}}</ion-item-divider>
    <ion-card text-wrap ion-item *ngFor="let trip of group.trips" (click)="takeToDriverOrPassengerPage(trip)">
      <ion-badge class="trips" text-wrap item-left>{{displayDay(trip.startTime)}}</ion-badge>
      {{ trip.startLocation.name }} To {{ trip.endLocation.name }}
    </ion-card>
  </ion-item-group>
</ion-content>
